jax==0.4.13
jaxlib==0.4.13
distrax==0.1.2
flax==0.7.0
chex==0.1.6
optax==0.1.5
gymnasium
shimmy[gym-v21,gym-v26]
gym==0.23.1
scipy==1.12.0
Cython<3
matplotlib
d4rl
tqdm
ml_collections
wandb
numba
moviepy==1.0.3