distrax==0.1.5
flax==0.8.4
jax==0.4.26
jaxlib==0.4.26
optax==0.2.2
chex==0.1.86
gymnasium
shimmy[gym-v21,gym-v26]
gym==0.23.1
scipy==1.12.0
Cython<3
matplotlib
d4rl
tqdm
ml_collections
wandb
numba
moviepy==1.0.3
h5py